:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: 400px 400px;
    background: gray;
}

.tropical {
    background-color: aqua;
}

.dry {
    background-color: orange;
}

.temperate {
    background-color: forestgreen;
    color: white;
}

.continental {
    background-color: rgb(75, 117, 75);
}

.polar {
    background-color: white;
}

.beaux-arts {
    font-family: 'IM Fell French Canon SC', serif;
}

.gothic {
    font-family: 'Pathway Gothic One', sans-serif;
}

.modern {
    font-family: 'MuseoModerno', sans-serif;
}

.art-deco {
    font-family: 'Titillium Web', sans-serif;
}

.classic {
    font-family: 'Fanwood Text', serif;
}
.input-section {
    display: grid;
    grid-template-rows: 60px 60px 60px 60px 60px;
    gap: 10px;
    width: 350px;
    height: 500px;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    background-image: url(/assets/misc/InputBackground.jpg);
}

input {
    border-radius: 5px;
    color: white;
    background-color: rgb(95, 95, 95);
}

select {
    border-radius: 5px;
    color: white;
    background-color: rgb(95, 95, 95);
}

label {
    display: grid;
    padding: 5px;
    font-size: 20px;
}

#city-attraction-input {
    display: grid;
    grid-template-columns: auto 25px;
    gap: 10px;
}

#output-section {
    text-align: center;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    height: 400px;
    width: 700px;
    display: grid;
    display-template-rows: 25px 25px 25px 1fr;
}

#climate-image {
    width: 300px;
    height: 200px;
}

#architecture-image {
    width: 300px;
    height: 200px;
}
