:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: 400px 400px;
    background: gray;
}

#input-section {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 350px;
    height: 500px;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    background-image: url('/assets/City-Image-Input-Box.jpg');
    color: white;
}

.tropical {
    background-image: url('/assets/Tropical.jpg');
    color: aqua;
    border: 2px;
    border-style: solid;
    border-color: aqua;
}

.dry {
    background-image: url('/assets/Desert.jpg');
    color: orange;
    border: 2px;
    border-style: solid;
    border-color: orange;
}

.temperate {
    background-image: url('/assets/Temperate.jpg');
    color: rgb(6, 63, 6);
    border: 2px;
    border-style: solid;
    border-color: rgb(6, 63, 6);
}

.continental {
    background-image: url('/assets/Continental.jpg');
    color: green;
    border: 2px;
    border-style: solid;
    border-color: green;
}

.polar {
    background-image: url('/assets/Polar.jpg');
    color: white;
    border: 2px;
    border-style: solid;
    border-color: white;
}

input {
    border-radius: 5px;
    color: white;
    background-color: rgb(95, 95, 95);
}

select {
    border-radius: 5px;
    color: white;
    background-color: rgb(95, 95, 95);
}

label {
    display: grid;
    padding: 5px;
}

#output-section {
    text-align: center;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    height: 500px;
    width: 350px;
    display: grid;
    display-template-rows: 25px 25px 25px 1fr;
}
